#wrapper {
	width: auto;
	height: 100%;
	padding: 10px;
}


.manipulate {
	display: none;
	width: 40%;
	padding: 2%;
}

#controlElems {
	width: 100%;
	padding: 10px;
	font-family: 'Roboto Mono', 'Consolas', 'Menlo', monospace;
	font-size: 14px;
}

.slider {
	width: 80%;
	height: 30px;
	display: inline-block;
	position: relative;
}

h1 {
	font-family: 'Roboto Mono', 'Consolas', 'Menlo', monospace;
	font-size: 1.3em;
	font-weight: 300;
	letter-spacing: -.018em;
	position: relative;
}
